<!DOCTYPE html>
<html>

<head>
    <title>Video Enc Dec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <br>
    <br>
    <h1 class="title">Encrypt Video Files</h1>

    <div class="container">
        <button onclick="location.href = '/enc';" type="submit">Encrypt</button>
        <button onclick="location.href = '/dec';" type="submit">Decrypt</button>
    </div>

    <div class="note">
        <p><a class="link" href="/imp" style="color: #ff0000;">click here before using!!</a></p>
    </div>

    <div class="portfolio">
        <p>• Made by <a class="link" href="" style="color: #ff0000;">Sam</a></p>
    </div>

</body>

</html>