<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important</title>
    <link rel="stylesheet" href="/static/notes.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Note before use</h1>
        <div class="note">
            <ul>
                <li>If the size of the video is more than 50MB, it may take a lot of time for encryption/decryption</li>
                <li>For larger files, try the GUI or tool version for fast encryption and decryption</li>
                <li>Ensure you have proper permissions to encrypt and decrypt the video file</li>
            </ul>
        </div>
    </div>
</body>

</html>
